ultralytics==8.1.28
opencv-python==4.9.0.80
numpy==1.26.4
Pillow==10.2.0
torch==2.2.0
torchvision==0.17.0
matplotlib==3.8.3
seaborn==0.13.2
streamlit==1.31.1
streamlit-option-menu==0.3.12
plotly==5.18.0
tqdm==4.66.2
scikit-image==0.22.0
python-dotenv==1.0.1
loguru==0.7.2
psutil==5.9.8 